/* https://muki.tw/pure-css-for-cta-button/ */

:root {
    --elastic: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    translate: 0 calc(20vh - (var(--show) * 20vh));
    transition: translate 0.875s var(--elastic);
}

@property --show {
    syntax: '<number>';
    initial-value: 0;
    inherits: true;
}

@supports (animation-timeline: scroll()) {
    body {
        animation: show-cta both steps(1);
        animation-timeline: scroll(root);
        animation-range: 0 10vh;
    }

    @keyframes show-cta {
        to {
            --show: 1;
        }
    }
}
