body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

html {
    max-width: 100%;
    margin: 10px auto 0;
    padding: 0 20px;
}

header, footer {
    text-align: center;
    padding: 20px;
}

nav, article {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}
